

<% unless comment.archived? %>
   <p>
    <strong>Комментатор:</strong>
    <%= comment.email_user %>
  </p>

  <p>
    <strong>комментарий:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Удалить комментарий (если вы автор)", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Вы уверены?"
                } %>
  </p>

<% end %>

